# Introduction to data structures 
A data structure is a particular way of storing, arranging and processing (applying functions or operations) data. There are 4 built-in data structures in Python: *list, tuple, set and dictionary*.

In [2]:
lot_1 = 4567890
lot_2 = 1234567
lot_3 = 2345678

## List
A list is a data structure that holds an ordered collection of items; you can store a sequence of items in a list. Lists are great to use when you want to work with many values. They enable you to keep data together that belongs together, condense your code, and perform the same methods and operations on multiple values at once.

In [3]:
lot_list = [4567890, 1234567, 2345678]

print(lot_list)

[4567890, 1234567, 2345678]

A list is written as a sequence of comma-separated items between sqaure brackets. They might also contain items of different types, for example:

In [6]:
lot_info_list = [4567890, '10 wafers', 'OOC', 1234567, 
                 '1 wafer', 'OOC', 2345678, 
                 '3 wafers', 'baseline']

print(lot_info_list)

[4567890, '10 wafers', 'OOC', 1234567, '1 wafer', 'OOC', 2345678, '3 wafers', 'baseline']

### Access individual items <mark>(indexing)</mark>
Similar to strings, lists can be indexed as well. Each item in a list corresponds to an index number (an integer), starting with the index number 0.

In [8]:
sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']

print(sea_creatures[0])
print(sea_creatures[2])
print(sea_creatures[-1])
print(sea_creatures[-3])

shark
squid
anemone
squid

In [10]:
print('My favourite food is ' + sea_creatures[2])

My favourite food is squid

In [11]:
print(sea_creatures[5])

IndexError: list index out of range

### Access a range of items <mark>(slicing)</mark>

If we want to access a range of items, we need the index that will slice the portion from the string.
<br>
<br>
<mark>str_object[start_pos:end_pos:step]</mark>
<br>
<br>
The slicing starts with the start_pos index (included) and ends at end_pos index (excluded). The step parameter is used to specify the steps to take from start to end index.

In [20]:
fruits = ['orange', 'apple', 'grape', 'mango', 'rambutan', 'watermelon', 'kiwi']

first_five_items = fruits[0:5:1]
print(first_five_items)

third_to_fifth_items = fruits[2:5:1]
print(third_to_fifth_items)

['orange', 'apple', 'grape', 'mango', 'rambutan']
['grape', 'mango', 'rambutan']

By default, the Python interpreter assumes that the step=1 if you omit the step parameter:

In [21]:
print(fruits)
print(fruits[0:5])
print(fruits[2:5])

['orange', 'apple', 'grape', 'mango', 'rambutan', 'watermelon', 'kiwi']
['orange', 'apple', 'grape', 'mango', 'rambutan']
['grape', 'mango', 'rambutan']

If we are slicing from the beginning of the string, we can leave off the first index.

In [23]:
print(fruits[:4])
print(fruits[:2])

['orange', 'apple', 'grape', 'mango']
['orange', 'apple']

Likewise, leaving off the stop (last) index will go all the way to the end of the list.

In [24]:
print(fruits[6:])
print(fruits[3:])

['kiwi']
['mango', 'rambutan', 'watermelon', 'kiwi']

You can skip over items by indicating the step size > 1:

In [30]:
lot_info_list = [4567890, '10 wafers', 'OOC', 
                 1234567, '1 wafer', 'OOC', 
                 2345678, '3 wafers', 'baseline']
print(lot_info_list[:8])
print(lot_info_list[:8:1])
print(lot_info_list[:8:2])
print(lot_info_list[:8:3])

[4567890, '10 wafers', 'OOC', 1234567, '1 wafer', 'OOC', 2345678, '3 wafers']
[4567890, '10 wafers', 'OOC', 1234567, '1 wafer', 'OOC', 2345678, '3 wafers']
[4567890, 'OOC', '1 wafer', 2345678]
[4567890, 1234567, 2345678]

You can reverse the items using slicing by providing the step < 0

In [31]:
participants = ['person_a', 'person_b', 'person_c', 'person_d']
reverse_order = participants[::-1]
print(reverse_order)

reverse_order = participants[::-2]
print(reverse_order)

['person_d', 'person_c', 'person_b', 'person_a']
['person_d', 'person_b']

### Modying lists with indexing, slicing and operators

In [40]:
sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']
print('Initial list:', sea_creatures)

sea_creatures[0] = 'fish'
print('After modifying 0th index:', sea_creatures)

Initial list: ['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']
After modifying 0th index: ['fish', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']

In [41]:
participants = ['person_a', 'person_b', 'person_c', 'person_d']
print('Initial list:', participants )

participants[1:3] = ['Thomas']
print('After modifying:', participants)

Initial list: ['person_a', 'person_b', 'person_c', 'person_d']
After modifying: ['person_a', 'Thomas', 'person_d']

The + operator can be used to concatenate two or more lists together

In [43]:
farm_animals = ['chicken', 'duck', 'cow', 'dog', 'pig']
people = ['Thomas', 'Jake', 'Lily', 'Sue']

farm_items = farm_animals + people
print(farm_items)

['chicken', 'duck', 'cow', 'dog', 'pig', 'Thomas', 'Jake', 'Lily', 'Sue']

In [47]:
farm_animals = ['chicken', 'duck', 'cow', 'dog', 'pig']
people = ['Thomas', 'Jake', 'Lily', 'Sue']

farm_items = [farm_animals, people]
print(farm_items)

[['chicken', 'duck', 'cow', 'dog', 'pig'], ['Thomas', 'Jake', 'Lily', 'Sue']]

In [44]:
farm_animals = ['chicken', 'duck', 'cow', 'dog', 'pig']
farm_animals = farm_animals + ['horse'] #or equivalently, farm_animals += ['horse']

print(farm_animals)

['chicken', 'duck', 'cow', 'dog', 'pig', 'horse']

In some cases where you need to make duplicates of items in a list, the * operator can be used to multiply lists.

In [46]:
farm_animals = ['chicken', 'duck', 'cow', 'dog', 'pig']
farm_animals = farm_animals * 2 #or equivalently, farm_animals *= 2

print(farm_animals)

['chicken', 'duck', 'cow', 'dog', 'pig', 'chicken', 'duck', 'cow', 'dog', 'pig']

In [50]:
farm_animals = ['chicken', 'duck', 'cow', 'dog', 'pig']
del farm_animals[1]
print(farm_animals)

['chicken', 'cow', 'dog', 'pig']

### List Methods

#### Adding items

Add items to an existing list via the append method.

In [51]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.append('Art')      #the append method adds a single item to the end of the list
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art']

In [52]:
courses.append('Chemistry')
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Chemistry']

If you want to add an item to a specific location instead of the end of the list, you might want to use the insert method.

In [54]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.insert(0, 'Art')      #the first argument is the index of the list to be inserted
print(courses)

['Art', 'History', 'Math', 'Physics', 'CompSci']

Add specified list elements (or any iterable) to the end of the current list via the extend method.

In [56]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses_2 = ['Art', 'Chemistry']

courses.append(courses_2)
print(courses)

['History', 'Math', 'Physics', 'CompSci', ['Art', 'Chemistry']]

In [57]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses_2 = ['Art', 'Chemistry']

courses.extend(courses_2)
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Chemistry']

#### Removing items

The remove method checks its argument against the list items and remove the item which matches it.

In [59]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses.remove('Math')
print(courses)

['History', 'Physics', 'CompSci']

Observe that it does not remove the same repeated items twice.

In [60]:
courses = ['History', 'Math', 'Physics', 'CompSci', 'Math']
courses.remove('Math')
print(courses)

['History', 'Physics', 'CompSci', 'Math']

The pop method removes and returns the value from the list.

In [62]:
courses = ['History', 'Math', 'Physics', 'CompSci', 'Math']
item = courses.pop()    #by default, it will remove the last item in the list
print(item)
print(courses)

Math
['History', 'Math', 'Physics', 'CompSci']

In [64]:
courses = ['History', 'Math', 'Physics', 'CompSci', 'Math']
item = courses.pop(1)    
print(item)
print(courses)

Math
['History', 'Physics', 'CompSci', 'Math']

#### Sorting items

The reverse method reverses the order of items in a list.

In [1]:
courses = ['History', 'Math', 'Physics', 'CompSci', 'Biology']
courses.reverse()
print(courses)

['Biology', 'CompSci', 'Physics', 'Math', 'History']

The sort method sorts the elements in a list

In [66]:
courses = ['History', 'Math', 'Physics', 'CompSci', 'Biology']
courses.sort()
print(courses)

['Biology', 'CompSci', 'History', 'Math', 'Physics']

In [67]:
courses.sort(reverse=True)
print(courses)

['Physics', 'Math', 'History', 'CompSci', 'Biology']

In [68]:
num_sequence = [2, 5, 6, 1, 3, 2]
num_sequence.sort()
print(num_sequence)

[1, 2, 2, 3, 5, 6]

In [70]:
num_sequence.sort(reverse=True)
print(num_sequence)

[6, 5, 3, 2, 2, 1]

In [72]:
courses = ['History', 2, 'Math', 'Physics', 'CompSci', 1, 'Biology']
courses.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

#### Accessing numerical properties

The len method returns the number of elements in the list.

In [76]:
farm_animals = ['chicken', 'duck', 'cow', 'dog', 'pig']
total_animals = len(farm_animals)
print(total_animals)

5

In [77]:
people = ['Thomas', 'Jake', 'Lily', 'Sue']
total_people = len(people)
print(total_people)

4

The min and max methods return the smallest and largest items respectively.

In [78]:
num_sequence = [2, 5, 6, 1, 3, 2]
min_num = min(num_sequence)
max_num = max(num_sequence)
print(min_num, max_num)

1 6

If the items in an iterable are strings, the smallest and largest items (ordered alphabetically) are returned.

In [80]:
farm_animals = ['duck', 'chicken',  'cow', 'pig', 'dog']
animal = min(farm_animals)
print(animal)

chicken

In [82]:
farm_animals = ['duck', 'chicken',  'cow', 'pig', 'dog']
animal = max(farm_animals)
print(animal)

pig

In [86]:
num_sequence = [2, 5, 6, 1, 3, 2]
total_sum = sum(num_sequence)
print(total_sum)

19

#### Checking for items in a list

The index method can be used to find the index of a certain item in a list.

In [88]:
farm_animals = ['duck', 'chicken',  'cow', 'pig', 'dog']
print(farm_animals.index('duck'))
print(farm_animals.index('cow'))

0
2

In [91]:
num_sequence = [2, 5, 6, 1, 3, 2]
print(num_sequence.index(1))
print(num_sequence.index(2))

3
0

In [92]:
farm_animals = ['duck', 'chicken',  'cow', 'pig', 'dog']
print(farm_animals.index('horse'))

ValueError: 'horse' is not in list

The in operator can be used to check for existence of a certain item in a list.

In [93]:
print('horse' in farm_animals)

False

In [95]:
print('pig' in farm_animals)
print('Pig' in farm_animals)           #case-sensitive

True
False

Counting can be done via the count method.

In [109]:
farm_animals = ['duck', 'chicken',  'cow', 'pig', 'dog']
print(farm_animals.count('duck'))

1

#### Joining and splitting

In [99]:
farm_animals = ['duck', 'chicken',  'cow', 'pig', 'dog']
animals_combined = ' - '.join(farm_animals)
print(animals_combined)

duck - chicken - cow - pig - dog

In [101]:
animals = 'duck, chicken, cow, pig, dog'
animal_list = animals.split(', ')
print(animal_list)

['duck', 'chicken', 'cow', 'pig', 'dog']

## Tuple
Tuple is another data structure that is similar to list; tuples hold multiple objects together, but they are immutable ie. they cannot be modified. Lists, on the other hand, are mutable.
Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values (i.e. the tuple of values used) will not change.

In [104]:
list_1 = ['duck', 'chicken',  'cow', 'pig', 'dog']
list_1[0] = 'giraffe'

In [105]:
tuple_1 = ('duck', 'chicken',  'cow', 'pig', 'dog')
tuple_1[0] = 'giraffe'

TypeError: 'tuple' object does not support item assignment

### Access items <mark>(indexing and slicing)</mark>
Similar to lists, the elements in tuples can be accessed via the following:

In [106]:
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])  
print(my_tuple[5])   
print(my_tuple[-1])
print(my_tuple[-6])

p
t
t
p

In [107]:
my_tuple = ('p','r','o','g','r','a','m','i','z')


print(my_tuple[1:4])
print(my_tuple[:-7])
print(my_tuple[7:])
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

### Tuple methods

#### Checking for items in a list

The index method can be used to find the index of a certain item in a tuple.

In [112]:
farm_animals = ('duck', 'chicken',  'cow', 'pig', 'dog')
print(farm_animals.index('duck'))
print(farm_animals.index('cow'))

0
2

The in operator can be used to check for existence of a certain item in a tuple.

In [113]:
print('pig' in farm_animals)
print('Pig' in farm_animals)           #case-sensitive

True
False

Counting can be done via the count method.

In [115]:
farm_animals = ('duck', 'chicken',  'cow', 'pig', 'dog')
print(farm_animals.count('duck'))

1

### Packing and unpacking

The statement tuple_1 = 12345, 54321, 'hello!' is an example of tuple packing: the values 12345, 54321 and 'hello!' are packed together in a tuple. The reverse operation is also possible:

In [117]:
tuple_1 = 12345, 54321, 'hello!'      # packing
print(tuple_1)

x, y, z = tuple_1                    # unpacking
print(x,y,z)

(12345, 54321, 'hello!')
12345 54321 hello!

## Set
A set is a collection which is unordered and have no duplicates. Generally, sets are used for membership testing and eliminating duplicate entries. Set objects also support mathematical operations (e.g. union, intersection, difference). In Python, sets are written with curly brackets.

In [129]:
basket_1 = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

print(basket_1)

{'orange', 'apple', 'pear', 'banana'}

In [130]:
print('pear' in basket_1)

True

In [131]:
basket_1 = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket_2 = {'strawberry', 'pineapple', 'orange', 'durian', 'grape'}

print(basket_1.intersection(basket_2))

{'orange'}

In [133]:
print(basket_1.difference(basket_2))
print(basket_2.difference(basket_1))

{'apple', 'pear', 'banana'}
{'durian', 'grape', 'pineapple', 'strawberry'}

In [135]:
print(basket_1.union(basket_2))
print(basket_2.union(basket_1))

{'orange', 'durian', 'pineapple', 'strawberry', 'apple', 'pear', 'grape', 'banana'}
{'orange', 'durian', 'pineapple', 'strawberry', 'apple', 'grape', 'pear', 'banana'}

## Initiating data structures

In [136]:
# empty lists
empty_list = []
empty_list = list()

# empty tuples
empty_tuple = ()
empty_tuple = tuple()

# empty sets
empty_set = {}     # this is wrong; it's a dictionary
empty_set = set()

## Typecasting

In [144]:
list_1 = [1, 2, 3, 4]
print(type(list_1))
converted = tuple(list_1)
print(converted)
print(type(converted))

<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>

In [145]:
list_1 = [1, 2, 3, 4]
print(type(list_1))
converted = set(list_1)
print(converted)
print(type(converted))

<class 'list'>
{1, 2, 3, 4}
<class 'set'>

In [146]:
tuple_1 = (1, 2, 3, 4)
print(type(tuple_1))
converted = list(tuple_1)
print(converted)
print(type(converted))

<class 'tuple'>
[1, 2, 3, 4]
<class 'list'>

In [147]:
tuple_1 = (1, 2, 3, 4)
print(type(tuple_1))
converted = set(tuple_1)
print(converted)
print(type(converted))

<class 'tuple'>
{1, 2, 3, 4}
<class 'set'>

In [148]:
set_1 = {1, 2, 3, 4}
print(type(set_1))
converted = list(set_1)
print(converted)
print(type(converted))

<class 'set'>
[1, 2, 3, 4]
<class 'list'>

In [ ]:
set_1 = {1, 2, 3, 4}
print(type(set_1))
converted = tuple(set_1)
print(converted)
print(type(converted))

## Dictionary
Dictionary is the 4th data structure covered in this lesson, and it can be thought of dictionary as a  set of *key:value* pairs, with the requirement that the keys are unique (within one dictionary. 
<br>
A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

In [152]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [153]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'Science']}         # key:value
print(student)

{'name': 'John', 'age': 25, 'courses': ['Math', 'Science']}

In [159]:
courses_name = student['courses']
print(courses_name)

['Math', 'Science']

The key is required to be an immutable data type (ie. string, number, tuple) while the value can be just about anything. The keys must not be duplicated

In [162]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'Science'], 'name': 'Johnny'}     
print(student)

{'name': 'Johnny', 'age': 25, 'courses': ['Math', 'Science']}

### Accessing key-value pair

In [ ]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'Science'], 'name': 'Johnny'}     
print('There are', len(student), 'keys')

In [180]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'Science'], 'name': 'Johnny'}     
print(student.keys())

dict_keys(['name', 'age', 'courses'])

In [181]:
print(student.values())

dict_values(['Johnny', 25, ['Math', 'Science']])

In [182]:
print(student.items())

dict_items([('name', 'Johnny'), ('age', 25), ('courses', ['Math', 'Science'])])

You can extract relevant values via the following:

In [164]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'Science']}         
print(student['name'])
print(student['age'])

John
25

In [165]:
print(student['hobbies'])     # accessing a key that does not exist will result in an error

KeyError: 'hobbies'

Alternatively, you can use the get method to extract the required values.

In [168]:
print(student.get('name'))
print(student.get('hobbies'))  # no error

John
None

In [169]:
print(student.get('hobbies', 'Not Found'))  # no error

Not Found

In [187]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'Science']}         

for key, value in student.items():
    print(key, value)

name John
age 25
courses ['Math', 'Science']

### Adding a new entry and updating existing entries

In [173]:
student['hobbies'] = ('Eating', 'Soccer')       # adding  
print(student)

{'name': 'John', 'age': 25, 'courses': ['Math', 'Science'], 'hobbies': ('Eating', 'Soccer')}

In [174]:
student['name'] = 'Harry'      # updating
print(student)

{'name': 'Harry', 'age': 25, 'courses': ['Math', 'Science'], 'hobbies': ('Eating', 'Soccer')}

Alternatively, you can use the update method, especially if you are updating multiple values at a time.

In [175]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'Science']}         
student.update({'name': 'Bob', 'age': 19, 'phone': 999})
print(student)

{'name': 'Bob', 'age': 19, 'courses': ['Math', 'Science'], 'phone': 999}

### Deleting entry

In [176]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'Science']}         
del student['name']
print(student)

{'age': 25, 'courses': ['Math', 'Science']}

In [178]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'Science']}         
age = student.pop('age')
print(age)

25

### Membership tests

In [2]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}

print('pet' in a_dict.keys())
print('apple' in a_dict.values())
print('onion' in a_dict.values())

True
True
False